{% extends "admin/layout.html" %}
{% block title %}Orders{% endblock %}

{% load static %}
{% block main %}
<link href="{% static 'pagination/simplePagination.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'pagination/jquery.simplePagination.js' %}"></script>
<main>
	<div class="row mb-6">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="card">
				<div class="tab-content p-4" id="pills-tabContent-table">
					<div class="tab-pane tab-example-design fade show active" id="pills-table-design" role="tabpanel" aria-labelledby="pills-table-design-tab">
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>#</th>
									<th></th>
									<th></th>
									<th></th>
									<th></th>
									<th style="text-align: right;"></th>
								</tr>
							</thead>
							<tbody class="cat-table">
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</main>
<table style="display: none;" id="hide_table">
	<tbody>
		<tr>
			<td>NUM</td>
			<td>
				<a href="/seller?seller_id=SHOP_ID">
					SHOP_NAME
				</a>
			</td>
			<td>
					USER_NAME
			</td>
			<td>
					USER_EMAIL
			</td>
			<td>
				STAFF_CREATED_TIME
			</td>
			<td style="text-align: right;">
				<select name="staff_status" data-order-id="STAFF_ID" class="form-select"></select>
			</td>
		</tr>
	</tbody>
</table>
<div id="light-pagination" class="pagination"></div>

<script type="text/javascript">
	$('.page-heading-btn').html('<a class="btn btn-primary listing-btn" href="'+location.origin+'{{ add }}'+'"></a>')
	currentPage = 1
	function get_data() {
		data= {}
		data['TYPE'] = 'GET_LIST'
		data['skip'] = (globalThis.currentPage-1)*10
		if ($('[name="search"]').val().trim()!=='') {
			data['search'] = $('[name="search"]').val()
		}
		keys = Object.keys(data)
		for (var i = 0; i < keys.length; i++) {
			if(['',null,NaN].includes(data[keys[i]])){
				delete data[keys[i]]
			}
		}
		return data;
	}
	$('[name="search"]').keyup(function () {
		$('[name="parent_id"]').val('')
		if (typeof objTimeout !=='undefined') {
			clearTimeout(objTimeout)
		}
		objTimeout = setTimeout(function () {
	 		get_order_ajax(get_data())
		},1000)
	})
	$('[name="start_date"],[name="end_date"]').change(function () {
		get_order_ajax(get_data())
	})
	function get_order_ajax(data) {
		custom_AJAX({
			TYPE:"POST",
			URL: location.href,
			DATA:data,
			SUCCESS:function (response) {
				$('.cat-table').html('')
				count = response.ordercount
				$('#light-pagination').pagination({
					pages: Math.ceil(count/10),
					currentPage: globalThis.currentPage,
					cssStyle: 'light-theme',
					onPageClick: function (a,b) {
						globalThis.currentPage = a
						get_order_ajax(get_data())
					}
				});
				$('.step-anchor').show()
				// for (var i = 0; i < $('.page-heading').length; i++) {
					$('.step-anchor').show()
					$('.page-heading').eq(0).html(response.FORM_TEXT.page_heading)
				// }
				for (var i = 1; i < $('.table-responsive').find('th').length; i++) {
					$('.table-responsive').find('th').eq(i).html(response.FORM_TEXT.th[i-1])
				}
				option = response.option
				for (var i = 0; i < option.length; i++) {
					$('[name="'+option[i]['select_name']+'"]').append('<option value="'+option[i]['option_value']+'">'+option[i]['option_name']+'</option>')
				}
				listing = response.staff
				for (var i = 0; i < Object.keys(listing).length; i++) {
					HTML = {
						NUM                 : (parseInt((globalThis.currentPage-1)*10)+i+1),
						USER_NAME           : listing[i]['user'][0]['name'],
						USER_EMAIL          : listing[i]['user'][0]['email'],
						SHOP_NAME           : listing[i]['shop'][0]['shop_name'],
						STAFF_ID            : listing[i]['_id']['$oid'],
						STAFF_CREATED_TIME  : get_time(listing[i]['created_at']['$date']),
					}
					html = replace_HTML($('#hide_table').html().replace('</tbody>','').replace('<tbody>',''),HTML)
					$('.cat-table').append(html)
					$('.cat-table').find('[name="staff_status"]').eq(i).val(listing[i]["staff_status"][0]['option_value'])
				}
			}		
		})
	}
	$('[name="pagi"]').change()
	$(document).on( 'change', '[name="staff_status"]', function () {
		custom_AJAX({
			TYPE:"POST",
			URL: location.href,
			DATA:{TYPE:"UPDATE_STATUS",staff_id:$(this).attr('data-order-id'),staff_status:parseInt($(this).val())},
			SUCCESS:function (response) {
			}
		})
	})
	get_order_ajax(get_data())
</script>
{% endblock %}