 

<div class="row">
	<div class="col-md-12 mb-3">
		<div class="">
			<label class="label-parent_category"></label>
			<input type="hidden" name="parent_id">
			<input list="parent_id" class="form-select" autocomplete="off" id="input-datalist" >
			<datalist id="parent_id">
			</datalist>
		</div>
	</div>
	<div class="col-md-12 mb-3">
		<div class="">
			<label class="label-category_name"></label>
			<input type="text" class="form-control" required="" name="category_name">
		</div>
	</div>
	<div class="col-md-12 mb-3">
		<div class="">
			<label class="label-active"></label>
			<select class="form-select" name="active" required>
				<option value="1">Activate</option>
				<option value="0">Deactivate</option>
			</select>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12 mb-3 ajax-message-div" style="display: None;">
		<div class="alert alert-success alert-dismissible fade show" role="alert">
			<span class="ajax-message"></span>
			<span class="btn-close" onclick="$('.ajax-message-div').hide()" aria-label="Close"></span>
		</div>
	</div>
</div>

<script type="text/javascript">
	$('[list="parent_id"]').keyup(function () {
		custom_AJAX({
			TYPE:"POST",
			URL: location.origin+'/api/admin/category/search',
			DATA:{search:$('[list="parent_id"]').val().toLowerCase(),TYPE:'SEARCH_PARENT_CATEGORY'},
			SUCCESS:function (response) {
				category_list = response.category
				$('[id="parent_id"]').html('')
				for (var i = 0; i < category_list.length; i++) {
					$('[id="parent_id"]').append('<option value="'+category_list[i].category_name+'">'+category_list[i].category_name+'</option>')
				}
			}
		})
	});
	$('[list="parent_id"]').change(function () {
		custom_AJAX({
			TYPE:"POST",
			URL: location.origin+'/api/admin/category/search',
			DATA:{search:$('[list="parent_id"]').val().toLowerCase(),TYPE:'SEARCH_PARENT_CATEGORY'},
			SUCCESS:function (response) {
				category_list = response.category
				if (category_list.length) {
					$('[name="parent_id"]').val(category_list[0]._id.$oid)
				}
			}
		})
	});
</script>