{% extends "admin/layout.html" %}
{% block title %}Shop{% endblock %}
{% load static %}

{% block main %}
<link href="{% static 'pagination/simplePagination.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'pagination/jquery.simplePagination.js' %}"></script>
<main>
	<div class="row mb-6">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="tab-content" id="pills-tabContent-table">
				<div class="tab-pane tab-example-design fade show active" id="pills-table-design" role="tabpanel" aria-labelledby="pills-table-design-tab">
					<div class=" row card-ajax-responsive"></div>
				</div>
			</div>
		</div>
	</div>
</main>

<div style="display: none;" id="card_table">
	<div class="col-md-12 mb-3">
	<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-md-3 mb-3 text-center">
						<img style="height: 300px;max-width: 100%;" data-src="IMG_SRC" alt="Card image cap">
					</div>
					<div class="col-md-9 mb-3">
						<h5 class="card-title">SHOP_NAME</h5>
						<p class="card-text">SHOP_OWNER | SHOP_CONTACT</p>
						<p class="card-text">SHOP_ADDRESS</p>
						<div class="row text-center">
							<div class="col">
								<form method="POST" action="{{edit}}">
									<input type="hidden" name="shop_id" value="SHOP_ID">
									<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
									<span class="btn btn-primary listing-btn w-100" onclick="$(this).parent().submit()"></span>
								</form>
							</div>
							<div class="col">
								<a href="{{ price }}?shop_id=SHOP_ID" class="btn w-100 btn-success listing-btn"></a>
							</div>
							<div class="col">
								<span class="btn btn-danger listing-btn w-100" onclick="delete_product($(this))" data-id="SHOP_ID"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
<div id="light-pagination" class="pagination"></div>

<script type="text/javascript">
	$('.page-heading-btn').html('<a class="btn btn-primary listing-btn" href="'+location.origin+'{{ add }}'+'"></a>')
	currentPage=1
	function get_data() {
		data= {csrfmiddlewaretoken:'{{ csrf_token }}' }
		data['skip'] = (globalThis.currentPage-1)*10
		if ($('[name="search"]').val().trim()!=='') {
			data['search'] = $('[name="search"]').val()
		}
		return data;
	}
	$('[name="pagi"]').change(function () {
 		get_product_ajax(get_data())
	})
	$('[name="search"]').keyup(function () {
		if (typeof objTimeout !=='undefined') {
			clearTimeout(objTimeout)
		}
		objTimeout = setTimeout(function () {
	 		get_product_ajax(get_data())
		},1000)
	})
	function get_product_ajax(data){
		custom_AJAX({
			TYPE:"POST",
			URL: location.origin+'/api/admin/shop/list',
			DATA:data,
			SUCCESS:function (response) {
				$('.card-ajax-responsive').html('')
				listing = response.shop
				count = response.count_shop
				$('#light-pagination').pagination({
					pages: Math.ceil(count/10),
					currentPage: globalThis.currentPage,
					cssStyle: 'light-theme',
					onPageClick: function (a,b) {
						globalThis.currentPage = a
						get_product_ajax(get_data())
					}
				});

				$('.step-anchor').show()
				for (var i = 0; i < $('.page-heading').length; i++) {
					$('.page-heading').eq(i).html(response.LANG_TEXT.heading[i])
				}
				for (var i = 0; i < $('.listing-btn').length; i++) {
					$('.listing-btn').eq(i).html(response.LANG_TEXT.btn[i])
				}
				for (var i = 0; i < Object.keys(listing).length; i++) {
					if (listing[i]['photo']) {
						banner = listing[i]['photo']
					}else{
						banner = 'upload/product_photo_file/default.png'
					}
					html = replace_HTML($('#card_table').html(),{
						'data-src="IMG_SRC"'              : 'src="'+get_img_src(banner)+'"',
						SHOP_NAME    : listing[i]['shop_name'],
						SHOP_OWNER   : listing[i]['owner_full_name'],
						SHOP_CONTACT : listing[i]['mobile'],
						SHOP_ID      : listing[i]['_id']['$oid'],
						SHOP_ADDRESS : listing[i].country+' / '+listing[i].state+' / '+listing[i].city+' / '+listing[i].full_address,
					})
					$('.card-ajax-responsive').append(html)
				}
			}		
		})
	}
	get_product_ajax(get_data())
	function delete_product(_this) {
		custom_AJAX({
			TYPE:"POST",
			URL: location.origin+'/api/admin/shop/delete',
			DATA:{shop_id:_this.attr('data-id')},
			SUCCESS:function (response) {
				_this.closest('div[class="col-md-12 mb-3"]').remove()
			}
		});
	}
</script>
{% endblock %}